<h1>Welcome to MoneyRoller!</h1>
    <h3>Log In Please</h3>

    <form action="/login" method="post">
      <p><input type="text" name="username" placeholder="Username"></p>
      <p><input type="password" name="password" placeholder="Password"></p>
      <p><input type='submit' name='submit' id='submit' value='Log In'></p>
    </form>
