<h1>Your Rollovers</h1>

<% @rollovers.each do |rollover| %>
<h4><a href= "/rollover/<%= rollover.id %>"><%= rollover.rollover_type %></h4>
<% end %>


<a class="button" href="/rollovers">Rollovers</a>
<a class="button" href="/">Home</a>
