 <a href="/show">Home</a> <a href="/rollovers/new">New Rollover</a> <a href="/logout">Log Out</a>


<h1>Your Rollovers List</h1>

<% @rollovers.each do |rollover| %>
<h4><a href= "/rollovers/<%= rollover.id %>"><%= rollover.rollover_type %></a></h4>


<% end %>
