<h1>Your Rollovers</h1>

<% @rollovers.each do |rollover| %>
<h4><a href= "/rollovers/<%= rollover.id %>"><%= rollover.rollover_type %></a></h4>


<% end %>

<p><a href="/logout">Log Out</a> <p><a href="/show">Home</a>
  <p><a href="/rollovers/new">New Rollover</a>
