<a class="button" href="/rollovers">Rollover List</a> <a href="/logout">Log Out</a>

<h3>Create a new rollover</h3>
<form action="/rollovers" method="post">
  <input type="text" name="rollover[rollover_type]" placeholder= "rollover_type" value="">
  <input type="text" name="rollover[origin_bank]" placeholder="rollover_origin_bank" value="" >
  <input type="text" name="rollover[destination_bank]" placeholder="rollover_destination_bank" value="">
  <input type="text" name="rollover[amount]" placeholder="rollover_amount" value="">
  <input type="submit" name="" value="Create Rollover">
</form>
