<form action="/rollovers" method="post">
  <input type="text" name="rollover[name]" value="rollover_type">
  <input type="text" name="rollover[origin_bank]" value="rollover_origin_bank">
  <input type="text" name="rollover[destination_bank]" value="rollover_destination_bank">
  <input type="text" name="rollover[amount]" value="rollover_amount">
  <input type="submit" name="" value="Create Rollover">
</form>
