<!DOCTYPE html>
<html>
  <head>
    <title>MoneyRoller</title>
  </head>

  <body>
    <div class="nav">
      <a href= "/rollovers">Rollovers List</a>
      <a href= "/rollovers/new">New Rollover</a>
    </div>

    <%= yield %>
  </body>
</html>
